31000_evans_0314_6

#### 1. 변수
> 변수이름 = 저장할 데이터

<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/%E1%84%87%E1%85%A7%E1%86%AB%E1%84%89%E1%85%AE%E1%84%8B%E1%85%B5%E1%84%86%E1%85%B5%E1%84%8C%E1%85%B5.png?raw=true' width =500>

In [2]:
# 입력 input() 
# 출력 print()

a = '안녕'
print(type(a))

<class 'str'>

In [3]:
b = '학생'
c = '고등'
d = '대'
print(c+b)

고등학생

### 변수를 활용하여 연산하기 
1) 과일 가격 계산하기

In [4]:
apple = 1200
banana = 800
kiwi = 1700

In [5]:
# 사과 3개, 바나나1개, 키위2개 구매한 가격은?

apple*3 + banana*1 + kiwi*2

7800

In [12]:
price = apple*5 + banana*6 + kiwi*20
print(price)
vip_price = price * 0.8
print('vip가 되시면', price,'원을',vip_price,'원에 구매 가능합니다.!!!')

44800
vip가 되시면 44800 원을 35840.0 원에 구매 가능합니다.!!!

vip는 20% 할인된다. 동일한 물건을 구매했을 때 vip가 내는 가격을 새로운 변수에 저장하여 출력하기

In [10]:
vip_price = price * 0.8

In [11]:
print('vip가 되시면', price,'원을',vip_price,'원에 구매 가능합니다.!!!')

vip가 되시면 44800 원을 35840.0 원에 구매 가능합니다.!!!