31000_evans_0317_2

2) 1년마다 키가 10cm씩 자라는 농구선수가 있다. 


*   2017년 - 175.5cm
*   2018년 - 185.5cm
*   2019년 - 195.5cm
*   2020년 - 205.5cm


년도별 농구선수의 키를 출력해보자

In [6]:
year = 2017
height = 175.5
print(year,'년 - ',height,'cm')

year = year + 1
height = height + 10
print(year,'년 - ',height,'cm')

year = year + 1
height = height + 10
print(year,'년 - ',height,'cm')

year = year + 1
height = height + 10
print(year,'년 - ',height,'cm')

2017 년 -  175.5 cm
2018 년 -  185.5 cm
2019 년 -  195.5 cm
2020 년 -  205.5 cm

> 동일한 변수를 증가/감소시킬 때

```
# a에 3을 더하시오
a = a+3
```

```
# 간략하게 표현
a += 3
```

In [8]:
year = 2017
height = 175.5
print(year,'년 - ',height,'cm')

year += 1 
height += 10 
print(year,'년 - ',height,'cm')

year += 1 
height += 10 
print(year,'년 - ',height,'cm')

year += 1 
height += 10 
print(year,'년 - ',height,'cm')

2017 년 -  175.5 cm
2018 년 -  185.5 cm
2019 년 -  195.5 cm
2020 년 -  205.5 cm

# 2. 데이터타입

> 정수 int

> 실수 float

> 문자 str

In [9]:
a = 100
b = 100.0
c ='성일정보고'
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

# 3. 데이터타입 변경하기
변경하려는 데이터타입으로 감싸주기

> 정수로 변경하기
<br/> int(변수)

> 실수로 변경하기
<br/> float(변수)

> 문자로 변경하기
<br/> str(변수)

In [10]:
# 정수를 실수로
print(a)
a = float(a)
print(a)

100
100.0

In [11]:
print(a)
a = int(a)
print(a)

100.0
100

# 4. 원의 둘레, 넓이, 구의 겉넓이, 부피 구하기

<img src='https://github.com/teacher-jiejie/allinone_AI/blob/images/%EC%9B%90%20%EA%B4%80%EB%A0%A8%20%EA%B3%B5%EC%8B%9D.png?raw=true' width = 300>

In [14]:
r = int(input('반지름을 입력하세요 '))
p = 3.141592

#원의 둘레
c_len = 2*p*r

#원의 넓이
c_area = p*r**2

#구의 겉넓이
s_area = 4*p*r**2

#구의 부피
s_volume = 4/3*p*r**3

print('원의 둘레는', c_len)
print('원의 넓이는', c_area)
print('구의 겉넓이는', s_area)
print('구의 부피는', s_volume)

반지름을 입력하세요  5

원의 둘레는 31.41592
원의 넓이는 78.5398
구의 겉넓이는 314.1592
구의 부피는 523.5986666666666