31200_evans_0413_1

# 3. 리스트와 제어구조
### 1) for a in data 에서 data에 리스트를 넣을 때 

다음 spending의 모든 원소를 차례대로 출력하시오 
```
spending = [25, 36, 8, 53, 24, 56]
```

In [1]:
spending = [25, 36, 8, 53, 24, 56]

In [4]:
# 반복문 for i in data :

for i in spending :
    print('지출은', i)

지출은 25
지출은 36
지출은 8
지출은 53
지출은 24
지출은 56

In [8]:
# 50이상 쓴 금액을 출력하시오
for i in spending :
    if i >= 50 :
        print('지출은', i)

지출은 25
지출은 36
지출은 8
지출은 24

### 2) for a in data 에서 data에 range()를 넣을 때
> 출력형식
```
1월 지출은 25
```

In [15]:
spending = [25, 36, 8, 53, 24, 56, 80, 12]

# 인덱스를 활용하고 싶을때 range()
for i in range(len(spending)) :
    print(i+1,'월 지출은', spending[i])

1 월 지출은 25
2 월 지출은 36
3 월 지출은 8
4 월 지출은 53
5 월 지출은 24
6 월 지출은 56
7 월 지출은 80
8 월 지출은 12

# 4. 이차원 리스트

<img src ='https://github.com/teacher-jiejie/allinone_AI/blob/images/14_%EC%9D%B4%EC%B0%A8%EC%9B%90%20%EB%A6%AC%EC%8A%A4%ED%8A%B8.png?raw=true' width = 700>

In [16]:
abc = [[1,2,3], [4,5,6], [7,8,9]]
print(abc)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
print(abc[0])
print(abc[1])
print(abc[2])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [20]:
print(abc[0][0])

1

## 이차원 리스트의 인덱스

<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/15_%EC%9D%B4%EC%B0%A8%EC%9B%90%20%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EC%9D%B8%EB%8D%B1%EC%8A%A4.png?raw=true' width = 700>

In [22]:
# 6 출력하기
print(abc[1][2])

6

In [23]:
# 8 출력하기
print(abc[1][2])

6

In [24]:
# for문을 이용해서 전체 출력
for row in abc : 
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

> 이차원리스트 반복 원리

<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/16_%EC%9D%B4%EC%B0%A8%EC%9B%90%20%EB%A6%AC%EC%8A%A4%ED%8A%B8%20%EB%B0%98%EB%B3%B5%EA%B5%AC%EC%A1%B0.png?raw=true' width=800>

In [25]:
# 모든 줄의 첫번째 데이터만 출력
for row in abc : 
    print(row[0])

1
4
7

In [26]:
# 모든 줄의 마지막 데이터(세번째 열)만 출력
for row in abc : 
    print(row[-1])

3
6
9