31200_evans_0314_34

입력명령어
### 입력명령어 형식
> input('입력안내문')

In [7]:
# 기본형식
input()

 2023

'2023'

In [6]:
# 변수를 이용한 입력
a = int(input())
print(type(a))

 2023

<class 'int'>

In [10]:
id = input('아이디 : ')
password = input('비밀번호 : ')
print('아이디는 : '+ id )
print('비밀번호는 : '+ password)

아이디 :  evans
비밀번호 :  1234

아이디는 : evans
비밀번호는 : 1234

출력
```
--- 성일 웹사이트 회원가입 ---
아이디 : 
000님웹사이트 가입을 환영합니다.!!!
```

In [12]:
print('--- 성일 웹사이트 회원가입 ---')
id = input('아이디 : ')
print(id +' 성일 웹사이트 회원가입을 환영합니다.!!!')

--- 성일 웹사이트 회원가입 ---

아이디 :  evans

evans 성일 웹사이트 회원가입을 환영합니다.!!!

# 1. 변수


> 변수이름 = 저장할 데이터


<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/%E1%84%87%E1%85%A7%E1%86%AB%E1%84%89%E1%85%AE%E1%84%8B%E1%85%B5%E1%84%86%E1%85%B5%E1%84%8C%E1%85%B5.png?raw=true' width =500>

In [14]:
# 변수를 이용한 출력
a = '안녕'
b = '하세요'
print(a,b)
print(a+b)

안녕 하세요
안녕하세요

In [15]:
c = '학생'
d = '고등'
e = '대'
print(d+c)

고등학생

### 변수를 활용하여 연산하기 
1) 과일 가격 계산하기

In [16]:
apple = 1200
banana = 800
kiwi = 1700

# 사과3개 바나나1개 키위2개 구매한 가격은 ?

In [17]:
price = apple*3 + banana*1 + kiwi*2
print(price)

7800

vip는 20% 할인된다. 동일한 물건을 구매했을 때 vip가 내는 가격을 새로운 변수에 저장하여 출력하기

In [19]:
vip_price = price * 0.8
print('vip가 되시면',price,'원을', vip_price,'원에 구매 가능합니다.!!!! ')

vip가 되시면 7800 원을 6240.0 원에 구매 가능합니다.!!!!

2) 1년마다 키가 10cm씩 자라는 농구선수가 있다.

 -   2017년 - 175.5cm
 -   2018년 - 185.5cm
 -   2019년 - 195.5cm
 -   2020년 - 205.5cm

년도별 농구선수의 키를 출력해보자