31200_evans_0411_34

#  2.  리스트의 다양한 기능

### 리스트 길이 확인 
> len(리스트이름)

In [1]:
# 1월 지출부터 6월 지출까지 리스트로 만들기
spending = [25, 36, 8, 53, 24, 56]

In [2]:
len(spending)

6

### 리스트에 데이터 추가하기

> 리스트이름.append(데이터)  <br>
  마지막에 추가됨

```
food = ['피자','치킨','떡볶이','스테이크','파스타']
```

In [3]:
food = ['피자','치킨','떡볶이','스테이크','파스타']
print(food)

['피자', '치킨', '떡볶이', '스테이크', '파스타']

In [4]:
# 햄버거 추가
food.append('햄버거')
print(food)

['피자', '치킨', '떡볶이', '스테이크', '파스타', '햄버거']

In [5]:
# 카레 추가해 봅시다.
food.append('카레')
print(food)

['피자', '치킨', '떡볶이', '스테이크', '파스타', '햄버거', '카레']

### 빈 리스트 만들고 데이터 추가하기

In [6]:
# 해야 할 일을 저장하는 list to_do
to_do = []
# 파이썬 공부
to_do.append('파이썬 공부')

print(to_do)

['파이썬 공부']

In [7]:
# 해야할 일을 입력받아 to_do 저장하기

task = input('해야할 일을 입력하세요? ')

to_do.append(task)
print(to_do)

해야할 일을 입력하세요?  책 읽기

['파이썬 공부', '책 읽기']

In [8]:
# 한줄로 바꿔보기
to_do.append(input('해야할 일을 입력하세요? '))

print(to_do)

해야할 일을 입력하세요?  빅데이터 수업

['파이썬 공부', '책 읽기', '빅데이터 수업']

### 리스트 슬라이싱

> 리스트[시작숫자 : 종료숫자]

<img src = 'https://github.com/teacher-jiejie/allinone_AI/blob/images/9_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EC%8A%AC%EB%9D%BC%EC%9D%B4%EC%8B%B1.png?raw=true' width=500>

종료숫자-1 까지 잘라내는 것

```
abc[2:5]       # abc[2]~abc[4]까지 슬라이싱
abc[4:9]       # abc[4]~abc[8]까지 슬라이싱
```
```
food = ['피자','치킨','떡볶이','스테이크','파스타']
```

In [10]:
food = ['피자','치킨','떡볶이','스테이크','파스타']

In [11]:
# 떡볶이, 스테이크만 골라내기

food[2:4]

['떡볶이', '스테이크']

In [13]:
# 처음부터 스테이크까지 골라내기
# 처음에 0이오면 생략가능
food[:4]

['피자', '치킨', '떡볶이', '스테이크']

In [14]:
# 스테이크 파스타

food[-2:]

['스테이크', '파스타']

#### 문자열 슬라이싱

In [15]:
date = '2023-04-11'

In [16]:
# year
date[:4]

'2023'

In [17]:
#day
date[-2:]

'11'

In [18]:
# month
date[5:7]

'04'

### split()으로 문자열 슬라이싱
> ()기준으로 잘라서 구분 분리 시켜줍니다.

In [19]:
date = '2023-04-11 화요일'

In [20]:
# 공백을 기준으로 split
date.split()

['2023-04-11', '화요일']

In [22]:
# 0을 기준으로 split

date.split('0')

['2', '23-', '4-11 화요일']

In [23]:
# -을 기준으로 split
date.split('-')

['2023', '04', '11 화요일']

In [26]:
year = date.split('-')[0]

In [25]:
date

'2023-04-11 화요일'

In [27]:
year

'2023'

실습
```
date = '2023-04-11'
```

위 date에서 월(month)만 골라내 숫자형태로 변수 mon에 저장하시오.

In [31]:
date = '2023-04-11'

#월만 골라내기
mon = int(date.split('-')[1])
print(mon)

4

위 date에서 일(day)만 숫자 형태로 골라내 변수에 저장하시오.

In [ ]:
date = '2023-04-11'

#일만 골라내기
day = int(date.splli
print(day)